.dashboard__welcome-div {
  float: left;
  padding: 20px;
  font-weight: bold;
}

.dashboard__logout-div {
  float: right;
  padding: 20px;
}

.dashboard__content-div {
  padding-top: 100px;
  padding-left: 20px;
}

.dashboard__fetch-festival-list-div {
  float: right;
  padding-right: 20px;

}

.dashboard__festival-list-div {
  font-weight: bold;
}

.dashboard__festival-list-label-div {
  background-color: yellow;
}

.dashboard__festival-list-band-div {
  padding-left: 20px;
}

.dashboard__festival-list-festival-div {
  padding-left: 40px;
}
